.tooltip {
    font-size: 0.8em;
    max-width: 90px;
    cursor: default;
    position: absolute;
    z-index: 2;
    /*				border-radius: 8px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 0.2em;

    background: white;

    display: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tooltip-mac-os-x {
    font-family: 'Lucida Grande';
    font-size: 0.7em;
    background: #ffffaa;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.tooltip-windows-7 {
    font-family: 'Segoe';
    font-size: 0.7em;
    background: -webkit-linear-gradient(top, #F5F5F5 0%, #D5D8E3 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.tooltip-windows-xp {
    padding: 1em;
    font-family: 'Tahoma';
    font-size: 0.7em;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FFFADE;
}

.tooltip-windows-xp .tooltip-title {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.tooltip-windows-xp .tooltip-icon {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.tooltip-arrow {
    width: 0;
    height: 0;

    position: absolute;
}

.tooltip-arrow-up {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #52ff2e;
    top: -5px;
    left: 50%;
    margin-left: -5px;
}

.tooltip-arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #52ff2e;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
}

.tooltip-arrow-left {
    border-top: 5px solid transparent;
    border-right: 5px solid #52ff2e;
    border-bottom: 5px solid transparent;
    top: 50%;
    left: -5px;
    margin-top: -5px;
}

.tooltip-arrow-right {
    border-top: 5px solid transparent;
    border-left: 5px solid #52ff2e;
    border-bottom: 5px solid transparent;
    top: 50%;
    right: -5px;
    margin-top: -5px;
}

.tooltip-arrow-bottom-right {
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #52ff2e;
    bottom: 0;
    right: -5px;
    margin-bottom: -5px;
}

.tooltip-arrow-top-right {
    border-top: 10px solid #52ff2e;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 0;
    right: -5px;
    margin-top: -5px;
}